<link rel="stylesheet" href="/css/footer.css">



<footer>
    <div class="appointment-section">
        <div style="display: flex; align-items: center; gap: 30px; margin: 2rem 0;">
            <button class="book-button">BOOK ONLINE</button>
            <p style="font-weight: bold; font-size: 20px;">Find available appointments</p>
        </div>
        <div class="rating">
            <p>AVERAGE RATING</p>
            <div class="stars">
                <span>⭐️⭐️⭐️⭐️⭐️</span>
                <span>5.0</span>
            </div>
            <p>495 Reviews</p>
        </div>
    </div>

    <div class="footer-details container">
        <div class="office-hours">
            <h3 style="font-size: 23px;">Office Hours</h3>
            <p style="opacity: .7; font-size: small; font-weight: 200;">Mon 9:00 am - 5:00 pm</p>
            <p style="opacity: .7; font-size: small; font-weight: 200;">Tue 9:00 am - 5:00 pm</p>
            <p style="opacity: .7; font-size: small; font-weight: 200;">Wed 9:00 am - 5:00 pm</p>
            <p style="opacity: .7; font-size: small; font-weight: 200;">Thu 9:00 am - 5:00 pm</p>
            <p style="opacity: .7; font-size: small; font-weight: 200;">Fri 9:00 am - 5:00 pm</p>
        </div>

        <div class="contact-info">
            <h3 style="font-size: 23px;">Contact Us</h3>
            <p style="opacity: .7; font-size: small;">57 Grand Street, Brooklyn, NY 11249</p>
            <p style="opacity: .7; font-size: small;">(718) 942 9942</p>
            <p style="opacity: .7; font-size: small;"><a
                    href="mailto:hello@grandstreetdental.com">hello@grandstreetdental.com</a>
            </p>
        </div>

        <div class="social-media">
            <h3 style="font-size: 23px;">Instagram</h3>
            <p style="opacity: .7; font-size: small;">“The cool Brooklyn dentist who wants teeth to look as
                nice as her Instagram
                feed”</p>
            <p style="opacity: .7; font-size: small;">- New York Magazine</p>
            <a href="">
                <i class="ri-instagram-line" style="font-size: 32px; color: #fff;"></i>
            </a>
        </div>
    </div>
</footer>