<!-- views/partials/footer.ejs -->
<footer class="bg-dark text-light py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>About Us</h5>
                <p>
                    Dental Care is committed to providing the best dental services in the city. Book your appointment
                    with ease and visit the best clinics in town.
                </p>
            </div>
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-light">Home</a></li>
                    <li><a href="#about" class="text-light">About</a></li>
                    <li><a href="#clinics" class="text-light">Clinics</a></li>
                    <li><a href="#contact" class="text-light">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Contact Us</h5>
                <p>Email: contact@dentalcare.com</p>
                <p>Phone: +123 456 7890</p>
                <p>Location: 123 Main St, City, Country</p>
            </div>
        </div>
        <div class="text-center mt-3">
            <p>&copy; 2024 Dental Care. All Rights Reserved.</p>
        </div>
    </div>
</footer>