<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel - Clinics</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container mt-5">

        <h1 class="mb-4">Clinic Management</h1>
        <!-- List of clinics -->
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Clinic Name</th>
                    <th> Email</th>
                    <th> Phone Number</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Actions</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <form action="/admin" method="POST">
                        <td><input type="text" name="clinicName" value="" class="form-control">
                        </td>
                        <td><input type="email" name="ownerEmail" value="" class="form-control">
                        </td>
                        <td><input type="text" name="ownerPhoneNumber" value="" class="form-control"></td>
                        <td><input type="text" name="ownerUsername" value="" class="form-control"></td>
                        <td><input type="text" name="ownerPassword" value="" class="form-control"></td>

                        <td>
                            <button type="submit" class="btn btn-primary">Update</button>
                            <form action="/admin/clinic/delete/" method="POST" style="display:inline;">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </form>
                </tr>
            </tbody>
        </table>

        <!-- Add new clinic button -->
        <a href="/admin/addclinic" class="btn btn-success">Add New Clinic</a>
    </div>
</body>

</html>