<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dental Care - Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <!-- Include the navbar partial -->
    <%- include('partials/navbar') %>


    
        <div class="container">
            <h1 class="text-center mt-5">Welcome to Dental Care</h1>
            <p class="text-center">Find your city dental clinics and book your appointments easily!</p>

            <!-- Carousel Section -->
            <div class="container mt-4">
                <%- include('partials/carousel') %>
            </div>


            <h1 style="margin: 2rem 0; text-align: center;">Make a Appointment To Best Clicnic</h1>

            <div
                style="display: flex;  align-items: flex-start;  flex-wrap: wrap; justify-content: space-between; gap: 10px;">
                <div class="card" style="width: 18rem;">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_yqDR53yTnezgHnCkFHHJFBWUVBTROhKICQ&s"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                        <a href="/clinic/hsaksjd" class="btn btn-primary">Visit Clinic</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_yqDR53yTnezgHnCkFHHJFBWUVBTROhKICQ&s"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                        <a href="/clinic/hsaksjd" class="btn btn-primary">Visit Clinic</a>
                    </div>
                </div>

                <div class="card" style="width: 18rem;">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_yqDR53yTnezgHnCkFHHJFBWUVBTROhKICQ&s"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                        <a href="/clinic/hsaksjd" class="btn btn-primary">Visit Clinic</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_yqDR53yTnezgHnCkFHHJFBWUVBTROhKICQ&s"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                        <a href="/clinic/hsaksjd" class="btn btn-primary">Visit Clinic</a>
                    </div>
                </div>

                <div class="card" style="width: 18rem;">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7-BdwtPWaVpib79xPfvBjnX8m6UrwA6lq_g&s"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                        <a href="/clinic/hsh" class="btn btn-primary">Visit Clicnic</a>
                    </div>
                </div>
            </div>
        </div>


        <!-- Include the footer partial -->
        <%- include('partials/footer') %>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>